@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&display=swap');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url('http://fonts.cdnfonts.com/css/bahnschrift');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {

    --Sniglet-font: "Sniglet", cursive;
    --Oswald: 'Oswald', sans-serif;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --Poppins: 'Poppins', sans-serif;
    --Montserrat: 'Montserrat', sans-serif;
    --DM-Serif: 'DM Serif Display', serif;
    --Raleway: 'Raleway', sans-serif;
    --main-bg: #131314;
    --hero-section-color-one: #17181D;
    --hero-section-color-two: #373A41;
    --text-color: #ccad78;
    --white: #FFFFFF;
    --cards: #353840;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: var(--main-bg);
    /* background: radial-gradient(#737575, #000000); */
    font-size: 1.6rem;
    line-height: 1.6;
    overflow-x: hidden;
    margin: 0;
    padding: 0; 
    line-height: 1.6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*-------------------------------------Latest-HEADER-----------------*/
/*-------------------------------------Latest-HEADER-----------------*/
/*-------------------------------------Latest-HEADER-----------------*/

.header-wrap{
  
           position: fixed;
            width: 100%;
            top: 0;display: flex;
            left: 0;
            justify-content: space-between;
            align-items: center;
            transition: 0.6s;
            z-index: 999;
            /* background: transparent; */
            border-bottom: .1rem solid #c0c0c02d;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
            background: linear-gradient(#353840, #131314);
            
}

.header-wrap.active {
    /* background-color: var(--main-bg); */
    
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;

    transition-duration: 0.6s;
    z-index: 999;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.header-wrap .logo-image {
   height: 10rem;
    padding: 2rem 1.8rem;
}

.navigation-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.navigation-container .mobile-social-icons{
    display:none;
}

.navigation-container .nav-menu{
   display: flex;
   align-items: center;
   padding: 1rem 8rem;
   list-style: none;

}
.navigation-container .nav-menu li{
    margin: 0 1.5rem;
}
.navigation-container .nav-menu li a{
    text-decoration: none;
    color:white;
    font-family: var(--Oswald);
    text-transform: uppercase;
    font-weight:300;
}
 .mobile-nav-items {
      display: none;
      background: transparent;
      cursor: pointer;
      padding: 2.5rem 4.8rem;
 }



.menu-icon {
  /* height:2.7rem;
  width:2.7rem; */
  color:var(--white);
  font-size: 2.7rem;
}

.close-icon {
    display:none;
    /* height: 3rem;
    width: 3rem; */
    color: var(--white);
    font-size: 2.3rem;
}


.side-search-area {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 3.5rem 4.4rem;
    z-index: 2;
}

/* .side-search-area .search {
   display: inline-flex;
   align-items: center;
   position: relative;
   
} */

/* .search .form-control {
    font-size: 1.6rem;
    border: none;
     border-radius: 0;
     padding:.7rem;
     display:none;
  
} */

.search .search-icon {
    font-size: 1.9rem;
    color: #ffffff;
    /* padding: 1rem .8rem .9rem .8rem;
    border: none; */
}


 /* aside {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
    background-color: #2c2c2e;
    border-right: 1px solid #373739;
    width: 100px;
} 

aside .logo-image{
height:8rem;
padding: 2rem 6rem;

} */
/* aside .social{
    
} */


/* .side-menu-btn {
    background-color: #3f3f3f;
    padding: 3rem 4.2rem;
}  */

/* .header-wrap.active .side-menu-btn{
    background-color: #fff
}


/*----------------------------------------------------------------*/
/*------------------------------------*/
/* NAVBAR */
/*------------------------------------*/
/* .header-wrap{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 1rem 11rem;
    z-index: 999;
    background: transparent;
    border-bottom: .1rem solid #c0c0c02d;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    
} */

/* .header-wrap.active {
    background-color: var(--main-bg);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    padding: 1rem 11rem;
    transition-duration: 0.6s;
    z-index: 999;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
} */

.header-wrap .navbar-brand {
    /* font-size: 2.7rem;
    color: #fff;
    font-weight: 700; */
}
/* 
.header-wrap .navbar-brand  .logo-image {
     height: 5rem;
 }

.header-wrap .nav-item {
    padding: 0 1.6rem;
}

.header-wrap .nav-item .nav-link {
    font-size: 1.5rem;
    color: #fff;
    line-height: 1;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 200;
    font-family: var(--Oswald);
    letter-spacing: 1.3px;
}

.header-wrap .nav-item .nav-link.active {
    color: #3acfd5;
}

.header-wrap .menu-navbar {
    text-align: left;
} */

/*----------------------------------------------------------------*/
/*------------------------------------*/
/*HERO SECTION */
/*------------------------------------*/
.home-swiper{
   width: 100%;
    height: 100vh;
}

.swiper{
    overflow: hidden;
    position: relative;
}
 .hero-slider-pagination {
      position: absolute;
      z-index: 21;
      right: 25px;
      width: 11px !important;
      text-align: center;
      left: auto !important;
      top: 50%;
      bottom: auto !important;
      transform: translateY(-100%);
  }
  .hero-slider-pagination .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      border-radius: 10px;
      background: #ebc9c9;
      opacity: 0.2;
      transition: all 0.3s; margin: 1px 0;
       box-shadow: 0px 0px 20px rgb(252 56 56 / 30%);
       
  }

  .hero-slider-pagination .swiper-pagination-bullet-active {
      opacity: 1;
      /* background: #fd3838; */
      background-image: linear-gradient(to bottom, #41f7fd, #334eff);
      height: 30px;
      box-shadow: 0px 0px 20px rgb(252 56 56 / 30%);
  }



.hero-section-bg-one{
    /* background: radial-gradient(#394774, #000000); */
    /* background: radial-gradient(#737575, #000000); */
    /* background: radial-gradient(#2f2e33, #0b0b0d); */
    background: radial-gradient(#353840, #131314);
    width: 100%;
     position: relative;
    height: 100vh;
    z-index: 2;
    padding: 160px 120px 60px 120px;
}

.circle-data::before {
    content: "";
    position: absolute;
    width:400px;
    height:400px;
    right: 10%;
    top: 20%;
    border-radius: 100%;
    opacity: 1;
     /* background-image: linear-gradient(to bottom, #41f7fd, #334eff); */
    box-shadow: 0 10px 32px 0 rgb(0 0 0 / 40%);
    background: radial-gradient(circle at 10% 20%, rgb(0 235 255) 0%, rgb(10 0 20) 100.2%);
    z-index: -1;
    /* background-image: linear-gradient(20deg, #9708CC, #43CBFF, #9708CC, #43CBFF); */
    /* border-radius: 500px; */
    /* border: 25px solid var(--main-bg);  */
    /* background-color: var(--main-bg); */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  */
    /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); */
    /* background-color: #27282b; */
    /* backdrop-filter: blur(10px); */
    /* border: 2px solid rgba(255, 255, 255, 0.01); */
    
}
.circle-data::after{
    content: "";
    position: absolute;
    width:100px;
    height:100px;
    right:7%;
    top: 15%;
    border-radius: 100%;
    opacity: 1;
    /* background-image: linear-gradient(to bottom, #41f7fd, #334eff); */
    border: 0.1rem solid #41f7fd; 
    box-shadow: 0 10px 32px 0 rgb(0 0 0 / 40%);
    z-index: -2;
    /* background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0)); */
    /* background-color: #27282b; */
    backdrop-filter: blur(10px);
    border-radius: 100%;
    box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.4);
}

.hero-section-center-one {
   align-items: center;
   display:flex;
   flex-wrap: wrap;
   /* margin-top: 10rem; */
   justify-content: center;
   position: relative;
   width: 100%;
}



.hero-title {
    /* color: var(--white); */
        font-size: 6rem;
        font-family: var(--Raleway);
        font-weight: 800;
        text-transform: uppercase;
        /* background-image: linear-gradient(to right, #c243fd, #b83026); */
        /* background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%); */
        background-image: linear-gradient(to bottom, #41f7fd, #334eff);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        font-style: italic;
        margin-bottom: 0;
        line-height: 5rem;
    
}

.hero-title-2 {
    /* color: var(--white); */
    font-size: 8rem;
    font-family: var(--Raleway);
    font-weight: 800;
    /* color: radial-gradient(#353840, #5f5faf); */
    color: var(--white);
    text-transform: uppercase;
    font-style: italic;
    /* background-image: linear-gradient(to left, #4B4C52, #5B5C62); */
    /* background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%); */
    background-size: 100%;
    /* -webkit-background-clip: text;
    -moz-background-clip: text;
     -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent; */
      
}

.hero-text{
    font-size: 1.6rem;
    color: var(--white);
    font-family: var(--Raleway);
    font-weight: 200;
    width: 85%;
    margin-bottom: 2.1rem;
    
}
.cart-button-items{
    display: flex;
    align-items: center;
    /* justify-content:center; */
    
}
.cart-button-items div{
    margin-right: 5rem;
}

.cart-button-items .real-price{
    font-size: 2rem;
    text-decoration: line-through;
    color: white;
    font-family:var(--Poppins) ;
    font-weight:200;
    font-style: italic;
    margin-bottom: 0;
}
.cart-button-items .cut-off-price{
    font-size: 3rem;
   
    color: white;
    font-family:var(--Poppins) ;
    font-weight:300;
    font-style: italic;
}

.button-class{
    display: inline-flex;
    align-items: center;
    /* margin-left: 5rem; */
    position: relative;
 
}


.cart-bag{
    /* background-color: var(--white); */
    margin-right: 1rem;
    background-color: var(--cards);
    color:white;
    font-size: 1.5rem;
    /* background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%); */
    background-image: linear-gradient(to bottom, #41f7fd, #334eff);
    padding: 1rem;
    border-radius: 50px;
    position: absolute;
    left: 15%;
}
.hero-button {
  
    /* padding: 1.2rem 3.6rem 1.2rem 3.6rem; */
   /* border: 1px solid #525252; */
   border: none;
  
    /* margin-top: 0.2rem; */
    color: var(--white);
    /* padding: 2.5rem 6rem; */
    width: 200px;
    height:60px;
    background-color: var(--cards);
    border-radius:50px;
    text-align: center;
    
}
.hero-button span{
    font-size: 1.5rem;
    margin-left: 4rem;
    /* font-family: var(--Raleway); */
    font-family: var(--Oswald);
    text-transform: uppercase;
     font-weight: 400;
     letter-spacing: .6px;
   
}

.hero-button:hover {
    background-image: linear-gradient(135deg, #41f7fd, #334eff);
/* background-image: linear-gradient(to left, #9708CC, #43CBFF); */

}


/* .hero-section-center .hero-title-section {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 3%;
            text-align: center;
            z-index: -1;
 
} */

.hero-section-center-one .hero-title-section .hero-title {
        color: var(--white);
        font-size: 40rem;
        /* font-family: var(--Poppins); */
        margin-bottom: 0;
        font-weight: 700;
        opacity: .1;
        font-style: italic;
         letter-spacing: -20px;

}

.hero-section-bg-one .hero-section-center-one .shoe-img {
    transform: rotate(-15deg);
    max-width: 100%;
    width: 950px;
        height: auto;
 
    
}

.hero-section-bg-two {
    position: absolute;
    /* background: radial-gradient(#2f2e33, #0b0b0d); */
    background: radial-gradient(#353840, #131314);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -2;
    padding: 120px 20px 60px 90px;
}

.hero-section-center-two{
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    /* margin-top: 12rem; */
    justify-content: center;
    position: relative;
    width: 100%;
}

/* .hero-section-bg-two .hero-section-center {
    margin-top: 18rem;
} */

.hero-section-bg-two .hero-section-center-two .imac-pro {
        /* height: 45rem; */
        max-width: 100%;
        object-fit: contain;
        width: 75%;
        height: auto;
        /* margin-top: 2rem; */
   
}

.hero-section-bg-three {
    position: absolute;
    background: radial-gradient(#353840, #131314);
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    background-size: cover;
    z-index: -2;
    padding: 160px 20px 60px 90px;

}

/* .hero-section-bg-three .hero-section-center {
    margin-top: 18rem;
} */
.hero-section-center-three{
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    /* margin-top: 12rem; */
    justify-content: center;
    position: relative;
    width: 100%;
}



.hero-section-center-three .apple-watch {
    /* width: 100%;
    height: 45rem;
    max-width: 100%;
    object-fit: contain;
    margin-top: 5rem; */
        /* transform: rotate(-15deg); */
     max-width: 100%;
      width: 50%;
   
     
            
}


/* ===================BOTTOM PRODUCT CONtAINER==============================================*/

.bottom-products-container {
     padding: 2.5rem;
     /* margin-top: -7rem; */
     position: absolute;
     z-index: 222;
     width: 100%;
     bottom:0;
    /* background: linear-gradient(to top, #353840, #131314); */
     display: flex;
     justify-content: flex-end;
     /* background-color: #fff; */
     /* background: linear-gradient(2deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
     background: rgba(255, 255, 255, 0.08); */
     /* backdrop-filter: blur(10px);
      box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.4); */
}

.bottom-products-section .bottom-swiper {
    position: relative;
    width: 1000px;

}

.bottom-products-container .bottom-products-section {
    display: flex;
    align-items: center;
}

.cards-bottom {
   display: flex;
   align-items: center;
   position: relative;
 
}

.cards-bottom .bottom-products-item {
    /* background-color: #c5c6c7; */
    /* background: linear-gradient(to left, #353840, #131314); */
    /* background: linear-gradient(128deg, #41f7fd, #334eff); */
    background: linear-gradient(297deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    padding: 2.5rem 0.8rem;
    border-top-left-radius: 20px;
    /* border-bottom-left-radius: 20px;    */
}

.cards-bottom .bottom-products-item .bottom-products-img {
    height: 7rem;
    transform: rotate(-20deg);
    object-fit: contain;
    max-width: 100%;
    width: 100%;
    /* position: absolute;
    left: 0;
    top: 0; */   
}

.bottom-products-content {
    /* background: radial-gradient(#353840, #131314); */
     padding: 2.4rem 2rem;
     /* border-top-right-radius: 20px; */
     border-bottom-right-radius: 20px;
     background-color: #ebebeb;
     box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.4);
 }

 .bottom-products-content .bottom-card-title {
    font-size: 1.3rem;
    color: var(--main-bg);
    font-family: var(--Oswald);
     text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .6px;
    margin-bottom: .5rem;
    
 }
/* 
 .bottom-products-content .bottom-category {
        font-size: .9rem;
        color: var(--main-bg);
        font-family: var(--Oswald);
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: .6px;
        
 } */
 .bottom-products-content  .bottom-card-rating{
    font-size: 1rem;
    color: rgb(248, 202, 77);
    
 }

 .bottom-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
 }

 .bottom-card-footer div {
    flex: 1;
 }

 .bottom-card-footer div .bottom-colors {
   font-size: 1.2rem;
 }

 .bottom-bag {
    color: var(--main-bg);
 }

/* .bottom-line-section{
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    bottom:0;
    z-index: 2;
    background: linear-gradient(2deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.4);
}

.bottom-line-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; 
    padding: 1rem 3.5rem;

}
.bottom-line-products{
    height: 8rem;
    transform: rotate(-20deg);
    object-fit: contain;
    object-position: center;
    max-width: 100%;
    width: 100%;
}

.bottom-line-items div {
 
}

.bottom-icons{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bottom-icons .bottom-heading-text {
    color: var(--white);
 
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0rem;
}

.bottom-icons .bottom-text {
    color: var(--white);
    font-size: 1rem;
    font-weight: lighter;
    font-family: var(--Poppins);
}

.bottom-icons .icons {
    color: var(--white);
    font-size: 2.7rem;
    margin-bottom: 1.4rem;
} */

.shopping-cart{
    /* background-color:#c5c6c9; */
    padding: 2.5rem 2.5rem;
    /* background: linear-gradient(to left, #293d7c, #13085c); */
    background: linear-gradient(to right,#343841, #404044);
    color: #ffffff;
}
.cart-button{
    /* background-color:#fff; */
    /* background: radial-gradient(#252525, #20201f); */
    /* background: radial-gradient( #394774, #0c0538); */
    /* background-color: #2f3035; */
    /* background: rgba(219, 219, 219, 0.1); */
    padding: 2.1rem 4rem ;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.5rem;
    /* color: #353536; */
    color:var(--white);
    font-family: var(--Poppins);
    /* background: rgba(44, 44, 44, 0.4); */
    background: radial-gradient(#3e424b, #212122);
    border: 1px solid rgba(44, 42, 42, 0.4);
    /* box-shadow: 0 5px 15px (rgba(0, 0, 0, .5)); */
    /* opacity: .5; */
   
  
}
.cart-button:hover{
   /* background-color: #2a3e7b; */
     background: radial-gradient(#252525, #20201f);
     color:var(--white);
}

.social-bg{

    position: absolute;
    /* background: linear-gradient(90deg, #353840, #131314); */
background-color: #2c2c2e;
    left: 0;
    z-index: 2222222;
    top: 0;
    border-right: 1px solid #373739;
    height: 95vh;
    padding: 0.7rem;

}
.social{  
    color: var(--white);
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(90deg, #353840, #131314); */
  margin-top: 65rem;
    /* height: 100%; */

  
     /* top: 35rem; */
 
    text-align: center;
    padding: 1rem 1rem;
    
}
/* 
.side-icon {
    position: absolute;
    top: 4rem;
    color: var(--white);
    left: 3.5rem;
} */

/* .social::before {
    content: "";
    position: absolute;
    left: 0;
    height: 10rem;
    top: 4rem;
    border: .6px solid #ccc;
} */

.icon{
    padding: 1.8rem 2.5rem;
    
}

.fas fa-shopping-bag{
    color:white;
}

/*----------------------------------------------------------------*/
/*------------------------------------*/
/* MAIN SECTION */
/*------------------------------------*/
.card {
    background-color: #27282b;
}
.main-section{
    display: flex;
    justify-content: center;
   
    /* min-height: 100vh; */
    /* background: #232323; */
    /* background-color: #27282b; */
    background: var(--main-bg);
    overflow: hidden;
    padding: 90px 20px;
    box-sizing: border-box;
}

.flash-sale-heading {
   width: 100%;
   margin-top: 8rem;
   text-align: center;
   color: #fff;
   text-transform: uppercase;
}

.flash-sale-heading h2 {
    font-size: 4rem;
    font-weight: 700;
    font-family: var(--Poppins);
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* .flash-sale-heading h2::before {
    display: block;
    content: "";
    width: 7%;
    height: 2px;
    background: #d3d1d1;
    position: absolute;
    bottom: -12%;
    left: 46.5%;
    text-align: center;
} */

/* 
display: block;
content: "";
width: 8%;
height: 2px;
background: #FEBA08;
position: absolute;
bottom: 0;
left: 46%;
text-align: center; */

/* .main-section::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(65% at 100% -20%);

}
.main-section::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #303030;
    clip-path: circle(35% at 0% 100%);

} */
.container1{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container1 .card{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    /* background-color: #27282b; */
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,0.01);
    box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.4);
}


.container1 .card .img8x{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;
   
}

.container1 .card:hover .img8x{
    transform: translateY(-100px);
}

.container1 .card .img8x img{
    max-width: 100%;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;
    margin-top: -7rem;
}

.container1 .card:hover .img8x img{
    transform: translate(-20px , -40px) rotate(25deg) scale(1.4);
    margin-left: 6rem;
}
.container1 .card .img8x h2{
    color: #ffff;
    font-weight: 600;
    margin-top: -8rem;
    font-family: var(--Oswald);
    text-transform: uppercase;
}
.container1 .card .content{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5% ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.container1 .card:hover .content{
    opacity: 1;
    visibility: visible;
    transform: translateY(-50px);
}
.container1 .card .content .size ,
.container1 .card .content .color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
}
.container1 .card .content .size h3 ,
.container1 .card .content .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.container1 .card .content .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 24px;
    display: inline-block;
    color: #111;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 5px;
    font-weight: 500;
    transition: 0.5%;
    cursor: pointer;
}
.container1 .card .content .size span:hover{
    background: #9bdc28;
}
.container1 .card .content .color span{
    width: 20px;
    height: 20px;
    background: #f00;
    border-radius: 50%;
    margin: 0 5px;
    border: 2px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}
.container1 .card .content .color span:nth-child(2){
    background: rgb(221, 217, 217);
}
.container1 .card .content .color span:nth-child(3){
    background: #252525;
}
.container1 .card .content .color span:nth-child(4){
    background: #9bdc28;
}
.container1 .card .content a{
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 1.2rem 5rem;
    background: #fff;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #111;
    text-decoration:none ;
    text-transform: uppercase;
    background-image: linear-gradient(135deg, #41f7fd, #334eff);
    color: var(--white);
    font-family: var(--Poppins);
}

.container1 .card .content .size span.active {
    background: #9bdc28;
}

.container1 .card.active .content {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50px);
}

.container1 .card.active .img8x img {
    transform: translate(-20px, -40px) rotate(25deg) scale(1.4);
    margin-left: 6rem;
}

.container1 .card.active .img8x {
    transform: translateY(-100px);
}

.big-card-bg {
   background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
   margin: 6rem 0;
   box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.4);
  
}

.big-card {
    position: relative;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    
    /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); */
    /* background-color: #27282b; */
    /* backdrop-filter: blur(10px); */
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.01);
    /* box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.4); */
}


.led-tv-img img{
    max-width: 100%;
    width: 100%;
    object-fit: contain;
    height: 50rem;
}

/* .wa{
    height: 40rem;
    object-fit: cover; */
    /* animation: MoveUpDown 3.2s linear infinite; */
/* } */
/* @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-45px);
    }
  } */

  .big-card .big-card-text {
  padding-left: 5rem;
   
  }

  .big-card-text .entertainment-text {
    color: var(--cards);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: var(--Raleway);
    font-style: italic;
    letter-spacing:2px;
    color: rgb(101, 96, 96);
  }

  .big-card-text .big-card-title {
    font-size: 4rem;
    text-transform: uppercase;
    font-family:var(--Poppins);
    font-weight: 700;
    color: var(--text-color);
    font-style: italic;
    
  }

   .big-card-text .long-text {
       width: 95%;
       color: var(--white);
       font-size: 2rem;
       font-weight: lighter;
       font-family: var(--Poppins);
       font-weight:100;
       font-style: italic;
   }

 .big-card-text .big-card-add-cart {
    text-decoration: none;
    background-color: var(--cards);
    padding: 1rem 2rem 1rem 2rem;
    color: var(--white)
 }


  .container2 {
      position: relative;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }

  .container2 .card-products {
      position: relative;
      width: 350px;
      height: auto;
      margin: 10px 40px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      /* background-color: #27282b; */
      backdrop-filter: blur(10px);
      border-radius: 20px;
      border: 2px solid rgba(255, 255, 255, 0.01);
      box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.4);
  }

   .card-products .products-img {
      margin: 0 auto;
       text-align: center;
    
   }



  .card-products .product-header{
    display: flex;
    justify-content: space-between;
    padding: 4rem 3.5rem 1rem 3.5rem ;
  }

 .product-header .product-title{
    font-size:2.5rem;
    font-family: var(--Oswald);
     text-transform: uppercase;
       color:white;
    
  }
  .product-header .product-cat{
    font-size:1.5rem;
    font-family: var(--Oswald);
    text-transform: uppercase;
    color:white;
        
  }

   .card-products .products-img img {
       max-width: 100%;
       /* margin: 0 0 20px; */
       transition: 0.5s ease-in-out;
       object-fit: contain;
       height: 25rem;
   }

   .product-price-section {
     display: flex;
     justify-content:space-between;
      align-items: center;
     margin-top: 1rem;
     padding: 0 2.5rem 2rem 3.5rem; 
   }

   .product-price-section .color-option{
    display: flex;
    align-items:center;
   }
   
   .product-price-section .color {
       font-size: 1.8rem;
       font-weight: 500;
       color:var(--white);
       margin-right: 0.8rem;
    }

    .product-price-section .circles{
       display:flex;
    }
       .circles .circle{
        height: 15px;
        width: 15px;
        background: #0071C7;
        border-radius: 50%;
        margin: 0 4px;
        cursor: pointer;
        transition: all 0.4s ease;
   }

.circles .circle.blue.active {
    box-shadow: 0 0 0 2px #fff,
        0 0 0 4px #0071C7;
}

.circles .circle.pink {
    background: #FA1795;
}

 .circles .circle.pink.active {
    box-shadow: 0 0 0 2px #fff,
        0 0 0 4px #FA1795;
}

.circles .circle.yellow {
    background: #F5DA00;
}

 .circles .circle.yellow.active {
    box-shadow: 0 0 0 2px #fff,
        0 0 0 4px #F5DA00;
}

.product-price-section .price {
      display:flex;
      flex-direction: column;
      justify-content: center;
}

.price .price_num{
    font-size: 1.5rem;
    text-decoration: line-through;
    color: white;
    font-family:var(--Poppins) ;
    font-weight:200;
    font-style: italic;
     margin-bottom: 0;
    padding-bottom: 0;
}
.price .price_letter{
    font-size: 2rem;
    color: white;
    font-family:var(--Poppins) ;
    font-weight:300;
    font-style: italic;
}

.button {
        position: relative;
        height: 50px;
        width: auto;
        border-radius: 25px;
        margin: 0 3rem 3.5rem 3rem;
        overflow: hidden;
        /* padding: 2rem 1re; */
        /* margin:0 3 2rem 0 ;  */
        
}

 .button .button-layer {
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    /* background-image: linear-gradient(135deg, #9708CC, #43CBFF, #9708CC, #43CBFF); */
     /* background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%); */
    /* background-image: linear-gradient(135deg, #334eff, #43CBFF, #9708CC); */
    /* background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%); */
    transition: all 0.4s ease;
        background-image: linear-gradient(135deg, #41f7fd, #334eff);
    
    /* background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%); */
              
        /* background-image: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); */
  
       
}

.button:hover .button-layer {
    left: 0;
}

.button button {
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

  .container2 .card-products .products {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px;
      transition: 0.5s ease-in-out;
  }

.container2 .card-products .product-content {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}
.container2 .card-products .product-content .product-price{
    font-size: 3rem;
    font-family: var(--Poppins);
}
.container2 .card-products .product-content equal {
    flex: 1;
}

.container2 .card-products .product-content .product-button{
height: 50px;
width: 50px;
border: 1px solid #c0c0c0;
border-radius: 10rem;
position: relative;

}
.container2 .card-products .product-content .product-button:hover{
    background-color: #fff;
    color:#000000;
}
.container2 .card-products .product-content .card-icon{
    position: absolute;
    margin-left:auto !important;
    margin-right:auto !important;
    left: 35%;
    top: 30%;
    right: 0;
}

/* Footer- */
.footer-wrapper {
    position: relative;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    /* background-color: #27282b; */
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.4);
    padding: 5rem 0rem;
}

.footer-container {
  margin-bottom: 3rem;

}

.footer-wrapper .footer-heading {
color: var(--white);
font-size: 1.7rem;
font-family: var(--Poppins);
font-weight: bold;
margin-bottom: 1.2rem;

}

.footer-wrapper .footer-text {
    color: var(--white);
    font-size: 1.3rem;
    font-family: var(--Poppins);
}




.footer-container .send-form {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.footer-container .send-form .form-control {
    padding: 1rem;
    outline: none;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.footer-container .send-form .fa-paper-plane {
    background-color: var(--text-color);
    padding-top: 1rem;
    padding-bottom: 1.1rem;
    padding-left: 1.2rem;
      padding-right: 1.8rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.footer-container .send-form .fa-paper-plane:hover {
    background-color:  orange;
}

.footer-container .footer-social-icons{
    padding-top: 1rem;
}

.footer-container  .footer-social-icons .footer-icons{
    margin: 0.1rem 0.8rem;
}

.footer-bottom{
    position: absolute;
    background:black ;
    width: 100%;
    padding: 2rem 5rem 1.5rem 5rem;
    bottom: 0;
    left: 0;
    margin-top: 2rem;
    
}

.footer-bottom .copyright-text {
    font-size: 1.4rem;
    color: var(--white)
}

.footer-bottom .payment-card-container {

}

.footer-bottom .payment-card-container .payment-card{
    height: 2rem;
    margin: 0rem 0.5rem;
  
}

@media (max-width: 991px) {
  
    /* .led-tv-img img{
        max-width: 100%;
        width: 100%;
        height: 50rem;
    } */
 }

 @media (max-width: 768px) {
    /* Mobile  Nav-Menu*/
    
        .header-wrap .logo-image {
            height: 8rem;
    
        }
    
        .navigation-container {
            position: fixed;
            left: -100%;
            /* top: -100%; */
            align-items: center;
            height: 100vh;
            width: 100%;
            background-color: #2f3640;
            /* z-index: 100000; */
            justify-content: flex-start;
            text-align: center;
            transition: all 1s ease;
           top:80px;
           
           
           
           
        }
    
        .navigation-container .nav-menu {
            display: block;
            margin: 20px 0;
            line-height: 50px;
            
        }
    
        
        .show .navigation-container {
            left: 0px;
            
        }
    
        .navigation-container .nav-menu li a {
            text-decoration: none;
    
    
        }
    
        .mobile-nav-items {
            display: block;
        }
    
        .show .mobile-nav-items .menu-icon {
            display: none;
        }
    
        .show .mobile-nav-items .close-icon {
            display: block;
        }
    
        .navigation-container .mobile-social-icons {
            display: flex;
            margin-top: 1.5rem;
            text-align: center;
    
        }
    
        .side-search-area {
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            padding: 3rem 1.7rem;
            z-index: 2;
        }
    
        /* .side-search-area .search {
       display: inline-flex;
       align-items: center;
       position: relative;
       
    } */
    
        /* .search .form-control {
        font-size: 1.6rem;
        border: none;
         border-radius: 0;
         padding:.7rem;
         display:none;
      
    } */
    
        .search .search-icon {
            font-size: 1.9rem;
            color: #ffffff;
            /* padding: 1rem .8rem .9rem .8rem;
      
        border: none; */
        }
    
    
    
        .social-bg {
            display: none;
        }
    
        .bottom-products-container {
            justify-content: center;
    
        }
}

@media (max-width: 667px) {

    /* Bottom Slider */

    .bottom-products-container {
        justify-content: center;
    }

    /*BIG CARD */
          .big-card {
              height: auto;
              padding: 1rem 2.5rem;
              margin: 1rem 0.5rem;
    
          }
    
          .led-tv-img {
              margin-bottom: 4rem;
              padding-right: 0;
          }
    
          .led-tv-img img {
              margin-top: -5rem;
              height: auto;
          }
    
      
    .big-card-text .big-card-title {
        font-size: 3rem;
 
      }
      .big-card .big-card-text{
           text-align: center;
            padding: 0;
      }
      
    
       .big-card-text .long-text {
         width: 100%;
           font-size: 1.5rem;
          
       }
       .hero-button{
        width: 150px;
        height:50px;
       }
       .hero-button span{
        font-size: 1.2rem;
       }
       .cart-bag{
          font-size: 1.2rem;   
         }
        .main-section {
            display: block;padding: 40px 0px;
        }




        /*Trending Products*/
                .container2 .card-products {
               
                    margin: 10px 18px;
                  
                }
                .flash-sale-heading h2 {
                    font-size: 3.5rem;
                    
                }

    /*Footer */
    .footer-container {
        margin-bottom: 6rem;
    }
  

    /* .big-card{

    }
    .big-card-bg{
        height: 700px;
        padding: 6rem 0;

    }
    .led-tv-img {
        padding: 5rem 0;
       margin-bottom: 4rem;
       height:40rem

    } */

}

@media (max-width: 767px) {


    /* Mobile  Nav-Menu*/

    .header-wrap .logo-image {
        height: 8rem;

    }

    /* .navigation-container {
        position: fixed;
        left: 0;
        top: -100%;
        align-items: center;
        height: 90vh;
        width: 100%;
        background-color: #2f3640;
       
        justify-content: flex-start;
        text-align: center;
        transition: all 1s ease;
        z-index:-1;
    } */

    /* .navigation-container .nav-menu {
        display: block;
        margin: 20px 0;
        line-height: 50px;
    } */

    /* .show .navigation-container {
        top: 80px;
    } */

    .navigation-container .nav-menu li a {
        text-decoration: none;


    }

    .mobile-nav-items {
        display: block;
    }

    .show .mobile-nav-items .menu-icon {
        display: none;
    }

    .show .mobile-nav-items .close-icon {
        display: block;
    }

    .navigation-container .mobile-social-icons {
        display: flex;
        margin-top: 1.5rem;
        text-align: center;

    }

    .side-search-area {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        padding: 3rem 1.7rem;
        z-index: 2;
    }

    /* .side-search-area .search {
   display: inline-flex;
   align-items: center;
   position: relative;
   
} */

    /* .search .form-control {
    font-size: 1.6rem;
    border: none;
     border-radius: 0;
     padding:.7rem;
     display:none;
  
} */

    .search .search-icon {
        font-size: 1.9rem;
        color: #ffffff;
        /* padding: 1rem .8rem .9rem .8rem;
  
    border: none; */
    }



    .social-bg {
        display: none;
    }

    .bottom-products-container {
        justify-content: center;

    }

.footer-container {
    margin-bottom: 6rem;
}

}