@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&display=swap');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url('http://fonts.cdnfonts.com/css/bahnschrift');

:root {
    /* --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive; */
    --Poppins: 'Poppins', sans-serif;
    --Montserrat: 'Montserrat', sans-serif;
    --main-bg: #131314;
    --hero-section-color-one: #17181D;
    --hero-section-color-two: #373A41;
    --text-color: #ccad78;
    --white: #FFFFFF;
    --cards: #353840;

    
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: var(--main-bg);
    /* background: radial-gradient(#737575, #000000); */
    font-size: 1.6rem;
    line-height: 1.6;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*NAVBAR*/

.header-wrap{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 1rem 8rem;
    z-index: 999;
    background: transparent;
    
}

.header-wrap.active {
    background-color: var(--main-bg);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    padding: 1rem 7rem;
    transition-duration: 0.6s;
    z-index: 99999;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.header-wrap .navbar-brand {
    /* font-size: 2.7rem;
    color: #fff;
    font-weight: 700; */
}

.header-wrap .navbar-brand  .logo-image {
     height: 5rem;
 }

.header-wrap .nav-item {
    padding: 0 1.6rem;
}

.header-wrap .nav-item .nav-link {
    font-size: 1.5rem;
    color: #fff;
    line-height: 1;
    
    font-family: var(--Poppins);
}

.header-wrap .nav-item .nav-link.active {
    color: orange;
}

.header-wrap .menu-navbar {
    text-align: left;
}

/*Scroll-Fixed*/
/* .header-wrap.sticky {
    background-color: #ffffff;
    padding: 10px 10px;
    transition-duration: 0.6s;
    z-index: 9999;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.header-wrap.sticky .nav-item .nav-link {
    color: #5c08a7;
    float: left;
    position: relative;
    width: 100%;
}

.header-wrap.sticky .navbar-brand {
    color: #5c08a7;
} */



/*HERO SECTION */
.home-swiper{
 width: 100%;
 height: 100vh;
}

.swiper{
    overflow: hidden;
}

.swiper-pagination{
    color: orange;
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
    display: inline-block;
    /* border-radius: 50%; */
    /* background: var(--swiper-pagination-bullet-inactive-color, #000); */
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}


.hero-section-bg-one{
    position: absolute;
    /* background: radial-gradient(#394774, #000000); */
    /* background: radial-gradient(#737575, #000000); */
    /* background: radial-gradient(#2f2e33, #0b0b0d); */
    background: radial-gradient(#353840, #131314);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -2;
}



.hero-section-center {
    position: relative;
}

.hero-section-bg-one .hero-section-center .shoe-img {
    transform: rotate(-15deg);
    width: 100%;
    height: 60rem;
    max-width: 100%;
    object-fit: contain;
    margin-top: 20rem;
}

.hero-section-title {
    position: absolute;
    /* color: var(--white); */
    margin-left: auto !important;
    margin-right: auto !important;
    left: 50%;
    font-size: 85rem;
    transform: translate(-50%, -68%);
    z-index: -1;
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 600;
    background: linear-gradient(#ffffff, #c5c6c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 2px 4px #e8e9ec33);
    opacity: .3;
}

.hero-section-bg-two {
     position: absolute;
    /* background: radial-gradient(#2f2e33, #0b0b0d); */
    background: radial-gradient(#353840, #131314);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -2;
}

.hero-section-bg-two .hero-section-center .imac-pro {
    width: 100%;
    height: 50rem;
    max-width: 100%;
    object-fit: contain;
    margin-top: 20rem;
}

.hero-section-bg-three {
    position: absolute;
    background: radial-gradient(#353840, #131314);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -2;
}

.hero-section-center .apple-watch {
    width: 100%;
    height: 50rem;
    max-width: 100%;
    object-fit: contain;
    margin-top: 20rem;
}


.addcart-section{
    position: absolute;
    right: 0;
    bottom:0;
}
.addcart-items{
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.shopping-cart{
    /* background-color:#c5c6c9; */
    padding: 2.5rem 2.5rem ;
    /* background: linear-gradient(to left, #293d7c, #13085c); */
    background: linear-gradient(to right,#343841, #404044);
    color: #ffffff;
}
.cart-button{
    /* background-color:#fff; */
    /* background: radial-gradient(#252525, #20201f); */
    /* background: radial-gradient( #394774, #0c0538); */
    /* background-color: #2f3035; */
    /* background: rgba(219, 219, 219, 0.1); */
    padding: 2.1rem 4rem ;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.5rem;
    /* color: #353536; */
    color:var(--white);
    font-family: var(--Poppins);
    /* background: rgba(44, 44, 44, 0.4); */
    background: radial-gradient(#3e424b, #212122);
    border: 1px solid rgba(44, 42, 42, 0.4);
    /* box-shadow: 0 5px 15px (rgba(0, 0, 0, .5)); */
    /* opacity: .5; */
   
  
}
.cart-button:hover{
   /* background-color: #2a3e7b; */
   background: radial-gradient(#252525, #20201f);
     color:var(--white);
}


.social{  
    color: white;
    display: flex;
    flex-direction: column;
    margin-top:-5rem;
    
}
.icon{
    padding: 1.8rem 9.5rem;
}
.fas fa-shopping-bag{
    color:white;
}
.side-search-area{
    position:absolute;
    padding: 3rem;
    background-color: #413947;
    color:white;
    right: 0;
    top:0;
}

.card {
    background-color: #27282b;
}
.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #232323; */
    /* background-color: #27282b; */
    background: var(--main-bg);
    overflow: hidden;
    padding: 100px 20px;
    box-sizing: border-box;
}
/* .main-section::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ef3b36;
    clip-path: circle(65% at 100% -20%);

}
.main-section::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #47aafa;
    clip-path: circle(35% at 0% 100%);

} */
.container{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    /* background: rgba(255,255,255,0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    backdrop-filter:blur(5px);
    border-radius: 15px; */
    /* background: rgba(255,255,255,0.05); */
    


    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    /* background-color: #27282b; */
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,0.01);
    box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.4);
}
.container .card .img8x{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;
   
}

.container .card:hover .img8x{
    transform: translateY(-100px);
}

.container .card .img8x img{
    max-width: 100%;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;
    margin-top: -7rem;
}

.container .card:hover .img8x img{
    transform: translate(-20px , -40px) rotate(25deg) scale(1.4);
    margin-left: 6rem;
}
.container .card .img8x h2{
    color: #ffff;
    font-weight: 600;
    margin-top: -8rem;
}
.container .card .content{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5% ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.container .card:hover .content{
    opacity: 1;
    visibility: visible;
    transform: translateY(-50px);
}
.container .card .content .size ,
.container .card .content .color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
}
.container .card .content .size h3 ,
.container .card .content .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.container .card .content .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 24px;
    display: inline-block;
    color: #111;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 5px;
    font-weight: 500;
    transition: 0.5%;
    cursor: pointer;
}
.container .card .content .size span:hover{
    background: #9bdc28;
}
.container .card .content .color span{
    width: 20px;
    height: 20px;
    background: #f00;
    border-radius: 50%;
    margin: 0 5px;
    border: 2px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}
.container .card .content .color span:nth-child(2){
    background: rgb(221, 217, 217);
}
.container .card .content .color span:nth-child(3){
    background: #252525;
}
.container .card .content .color span:nth-child(4){
    background: #9bdc28;
}
.container .card .content a{
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 12px 30px;
    background: #fff;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #111;
    text-decoration:none ;
    text-transform: uppercase;
}


/* .card {
    background-color: #27282b;
} */

