/*HerooOO Section*/
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/* Hero Slider */
.hero-section {
    width: 100%;

    background: radial-gradient(#39424d, #14171d);
    position: relative; 

}


/*Main Section*/
.main-section h2 {
    font-size: 4rem;
    ;
}

.modal-dark-wrapper {
    background: #131313;

}

.modal-dark {
    background: radial-gradient(#353840, #131314);
    padding: 2rem 1rem 5rem 1rem;
}


.modal-dark .close-icon {
    position: absolute;
    top: 2rem;
    right: 6rem;
    color: white;
    font-size: 3.2rem;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.modal-dark .logo-header img {
    padding: .7rem 2rem;
    height: 8rem;
}

.modal-search {
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
}

.modal-search .modal-search-inner {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20rem;
}

.modal-search-inner input {
    width: 500px;
    padding: 2rem;
    font-size: 1.5rem;
    font-family: var(--Raleway);
    border-radius: 10px;
}

.modal-search-inner .search-icon {
    margin-right: 1rem;
    background-color: var(--cards);
    color: white;
    font-size: 1.5rem;
    background-image: linear-gradient(to bottom, #41f7fd, #334eff);
    padding: 1rem;
    border-radius: 50px;
    position: absolute;
    cursor: pointer;
    right: 0;
}

.modal-search-inner .search-icon:hover {
    background-image: linear-gradient(to bottom, #1f9da1, #0f1d77);
}

/*----------------------------------------------------------------*/
/*------------------------------------*/
/* MAIN SECTION */
/*------------------------------------*/
.card {
    background-color: #27282b;
}

.main-section {
    display: flex;
    justify-content: center;
    background: var(--main-bg);
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.flash-sale-heading {
    width: 100%;
    margin-top: 8rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.flash-sale-heading h2 {
    font-size: 4rem;
    font-weight: 700;
    font-family: var(--Poppins);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.container1 {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
margin: 5rem 0;
}

.container1 .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.4);
}


.container1 .card .img8x {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;

}

/* .container1 .card.active .img8x {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;

} */

.container1 .card:hover .img8x {
    transform: translateY(-100px);
}

.container1 .card .img8x img {
    max-width: 100%;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;
    margin-top: -7rem;
}

.container1 .card:hover .img8x img {
    transform: translate(-20px, -40px) rotate(25deg) scale(1.4);
    margin-left: 6rem;
}

.container1 .card .img8x h2 {
    color: #ffff;
    font-weight: 600;
    margin-top: -8rem;
    font-family: var(--Oswald);
    text-transform: uppercase;
    font-size: 3.2rem;
}

.container1 .card .content {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5% ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.container1 .card:hover .content {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50px);
}

.container1 .card .content .size,
.container1 .card .content .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
}

.container1 .card .content .size h3,
.container1 .card .content .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container1 .card .content .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 24px;
    display: inline-block;
    color: #111;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 5px;
    font-weight: 500;
    transition: 0.5%;
    cursor: pointer;
}

.container1 .card .content .size span:hover {
    background: #9bdc28;
}

.container1 .card .content .color span {
    width: 20px;
    height: 20px;
    background: #f00;
    border-radius: 50%;
    margin: 0 5px;
    border: 2px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}

.container1 .card .content .color span:nth-child(2) {
    background: rgb(221, 217, 217);
}

.container1 .card .content .color span:nth-child(3) {
    background: #252525;
}

.container1 .card .content .color span:nth-child(4) {
    background: #9bdc28;
}

.container1 .card .content button {
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 1.2rem 5rem;
    background: #fff;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(135deg, #41f7fd, #334eff);
    color: var(--white);
    font-family: var(--Poppins);
}

.container1 .card .content .size span.active {
    background: #9bdc28;
}

.container1 .card.active .content {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50px);
}

.container1 .card.active .img8x img {
    transform: translate(-20px, -40px) rotate(25deg) scale(1.4);
    margin-left: 6rem;
}

.container1 .card.active .img8x {
    transform: translateY(-100px);
}

.big-card-bg {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    margin: 6rem 0;
    box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.4);

}

.big-card {
    position: relative;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); */
    /* background-color: #27282b; */
    /* backdrop-filter: blur(10px); */
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.01);
    /* box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.4); */
}

.led-tv-img img {
    max-width: 100%;
    width: 100%;
    object-fit: contain;
    height: 50rem;
}

/* .wa{
    height: 40rem;
    object-fit: cover; */
/* animation: MoveUpDown 3.2s linear infinite; */
/* } */
/* @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-45px);
    }
  } */

.big-card .big-card-text {
    padding-left: 5rem;

}

.big-card-text .entertainment-text {
    color: var(--cards);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: var(--Raleway);
    font-style: italic;
    letter-spacing: 2px;
    color: rgb(101, 96, 96);
}

.big-card-text .big-card-title {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: var(--Poppins);
    font-weight: 700;
    color: var(--text-color);
    font-style: italic;

}

.big-card-text .long-text {
    width: 95%;
    color: var(--white);
    font-size: 2rem;
    font-weight: lighter;
    font-family: var(--Poppins);
    font-weight: 100;
    font-style: italic;
}

.big-card-btn-wrapper {
    display: inline-flex;
    align-items: center;
    position: relative;
    
}


.big-card-btn {
    border: none;
    color: var(--white);
    width: 200px;
    height: 60px;
    background-color: #41464b;
    border-radius: 50px;
    text-align: center;

}

.big-card-btn span {
    font-size: 1.5rem;
    margin-left: 4rem;
    font-family: var(--Oswald);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .6px;

}
.big-card-btn:hover {
    background-image: linear-gradient(135deg, #41f7fd, #334eff);
}


/*RESPONSIVE Main Section*/ 
@media (max-width: 1024px) {
    
.led-tv-img img {
    max-width: 100%;
    width: 100%;
    object-fit: contain;
    height: 32rem;
}


.big-card-text .big-card-title {
    font-size: 3.8rem;
   

}

.big-card-text .long-text {
   
    font-size: 1.6rem;
  
}

.big-card-btn span {
    font-size: 1.5rem;
}


}

@media (max-width: 768px) {
    
    .container1 .card .img8x h2 {
        font-size: 2.5rem;
        
    }
                 
                 .big-card {
                     padding: 1rem 2.5rem;
                 }
    
    
                 .big-card-text .big-card-title {
                     font-size: 3rem;
    
                 }
    
    
                 .big-card-text .long-text {
                     width: 100%;
                     font-size: 1.3rem;
    
                 }

  
                        .main-section {
                            z-index: 5;
                            display: b;
                            padding: 5px 10px;
                           
                        }
                        .big-card-btn {
                           
                            width: 150px;
                            height: 50px;
                           
                        }
                        .big-card-btn span {
                            font-size: 1.3rem;
                        }
                        
}

@media (max-width: 767px) {
    /* MAIN SECTION */
            /*------------------------------------*/
            .container1 .card .img8x h2 {
                font-size: 2.5rem;
                
            }
                         
                         .big-card {
                             height: auto;
                             padding: 1rem 2.5rem;
                             margin: 1rem 0.5rem;
            
                         }
            
                         .led-tv-img {
                             margin-bottom: 3rem;
                             padding-right: 0;
                         }
            
                         .led-tv-img img {
                             margin-top: -4rem;
                             
                         }
            
            
                         .big-card-text .big-card-title {
                             font-size: 3rem;
            
                         }
            
                         .big-card .big-card-text {
                             text-align: center;
                             padding: 0;
                         }
            
            
                         .big-card-text .long-text {
                             width: 100%;
                             font-size: 1.5rem;
            
                         }

          
                                .main-section {
                                    z-index: 5;
                                    padding: 5px 10px;
                                   
                                }
                
}

@media (max-width: 667px) {
                
}

@media (max-width: 425px) {

}