/* .modal{
  overflow: hidden;
} */
.modal-content{
    background: linear-gradient(135deg, rgba(133, 133, 133, 0.763), rgba(14, 13, 13, 0.963));
      backdrop-filter: blur(10px);
      /* border: 2px solid rgba(255, 255, 255, 0.01); */
      box-shadow: 0 10px 32px 0 rgb(0 0 0 / 40%);
    display: flex;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
    outline: 0;
    /* padding: 0rem 2rem 0rem 2rem; */
}


.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0 !important;  overflow: hidden;
}


.main-modal {
  width: 100%;
}

.main-modal .modal-area {
      display: flex;
      width: 100%;
      justify-content: space-between;
    
    }

.modal-area .modal-left-side {

}

.modal-left-side .order-summary-head {
  padding: 1rem 2rem 1rem 2rem;
  margin-top: 1.5rem;
}

.order-summary-head h1{
    font-size: 2.4rem;
    font-family: var(--Poppins);
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.order-summary-head .order-summary-products {
  display: flex;
  align-items: center;
  /* margin-bottom: 2.5rem; */
}

.order-summary-products  img{
  width: 16%;

}
.order-summary-products .product-details{
  display: block;
  flex-direction: column;margin-left: .9rem;
}


.product-price{
  display: flex;
   width: 100%;
   justify-content: flex-end;
}
.product-price  span{
  text-align: right;

}

.modal-right-side {
  background: linear-gradient(135deg, rgba(133, 133, 133, 0.763), rgba(14, 13, 13, 0.963));
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 32px 0 rgb(0 0 0 / 40%);
  width: 100%;
  height: auto;
  /* padding: 1rem 1.5rem; */

}
.modal-right-side .form-group {
  position: relative;
  width: 100%;
}

.form-group label{
  color: white;
  font-family: var(--Raleway);
  font-size: 1.5rem;
}

.form-group .form-control {
  background-color: rgba(255, 238, 238, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 5rem;
    font-size: 1.4rem;
    color: #FFFFFF;
    margin-bottom: 2rem;
    padding-left: 1.6rem;
}

.form-group .form-control::placeholder{
  color: #ababab;
}


.payment-gateway {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}

.payment-gateway div {
    flex: 1;
}

.card-select {
    align-items: center;
    display: flex;
    padding: .2rem;
    justify-content: center;
    margin-top: 3rem;
}

.main-modal .card-select img{
   width: 40%;
    border: 1px solid #ccc;
    padding: 1.1rem 2rem;
    border-radius: 6px;
}

.card-select input {
    margin-right: .7rem;
}

.subtotal-order-summary {
  width: 100%;
}

.subtotal-inner {
  display: flex;
  width: 34%;
  justify-content: space-between;
  color: white;
  margin-top: 5rem;
  padding-top: 1.5rem;
}

.subtotalt {
  font-family: var(--Raleway);
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
}
.subtotal-t {
  font-family: var(--Poppins);
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
.modal-right-side img{
  display: flex;
  margin: 0 auto;
  object-fit: cover;
  
}
.modal-right-side .confirm-payment-btn {
      border: none;
        background-color: #646464;
        width: 100%;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
        padding: 1.5rem;
        font-family: var(--Raleway);
        color: white;
        font-size: 1.8rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 600;
}
.confirm-payment-btn:hover{

background-color: #fc5800;
}

.subtotal-order-summary .shipping-cost {
  font-family: var(--Poppins);
  font-size: 1.7rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
}
.order-t {
  font-family: var(--Poppins);
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent ;
  border: 0;
  border-radius: 0.25rem;
  opacity: .5;
}

 .modal-close-icon {
  position: absolute;
  top: -0.5rem;
  right: 1.5rem;
  color: #ccc;
  font-size: 2.7rem;
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  cursor: pointer;
}
.modal-close-icon:hover{
  color:#fc5800;
}

@media (max-width: 991px) {
  
  .modal-area {
    /* width: 850px; */
    display: block;
    flex-wrap: wrap;
  }
}

@media  (max-width: 768px) {
  .main-modal .modal-area {
   flex-wrap: wrap;
 
    }
    .modal-dialog {
      width: auto;;
    }
     .order-summary-products img {
       width: 16%;
  }
              
}

@media (max-width: 667px) {

  .main-modal .modal-area {
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .modal-dialog {
    width: auto;
  }

  .order-summary-products img {
    width: 16%;
  }
  .modal-right-side img{
    display: flex;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
  }
}
