/* Footer- */
.footer-wrapper {
    position: relative;
background: linear-gradient(358deg, rgb(64 59 59), rgb(0 0 0 / 92%));
    border: 2px solid rgba(255, 255, 255, 0.01);
    padding: 5rem 0rem;
    z-index: 500;
}

.footer-container {
    margin-bottom: 3rem;

}

.footer-wrapper .footer-heading {
    color: var(--white);
    font-size: 1.7rem;
    font-family: var(--Poppins);
    font-weight: bold;
    margin-bottom: 1.2rem;

}

.footer-wrapper .footer-text {
    color: var(--white);
    font-size: 1.3rem;
    font-family: var(--Poppins);
}

.footer-container .send-form {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.footer-container .send-form .form-control {
    padding: 1rem;
    outline: none;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.footer-container .send-form .fa-paper-plane {
    background-color: var(--text-color);
    padding-top: 1rem;
    padding-bottom: 1.1rem;
    padding-left: 1.2rem;
    padding-right: 1.8rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.footer-container .send-form .fa-paper-plane:hover {
    background-color: orange;
}

.footer-container .footer-social-icons {
    padding-top: 1rem;
}

.footer-container .footer-social-icons .footer-icons {
    margin: 0.1rem 0.8rem;
}

.footer-bottom {
    position: absolute;
    background: var(--main-bg);
    width: 100%;
    padding: 2rem 5rem 1.5rem 5rem;
    bottom: 0;
    left: 0;
    margin-top: 2rem;

}

.footer-bottom .copyright-text {
    font-size: 1.4rem;
    color: var(--white)
}

.footer-bottom .payment-card-container {}

.footer-bottom .payment-card-container .payment-card {
    height: 2rem;
    margin: 0rem 0.5rem;

}


/*RESPONSIVE Footer Section*/
@media (max-width: 767px) {

}

@media (max-width: 667px) {
/*Footer */
    .footer-container {
        margin-bottom: 6rem;
    }
}

@media (max-width: 425px) {}